/* CSS Document */
@charset "UTF-8";
.bannerbox1{
    height: 670px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.containt-div{
    width: 1024px;
    position: relative;
    height: 670px;
}
.bannerbox1 ul{
    position: relative;
}
.bannerbox1 ul li{
    list-style: none;
    width: 100%;
    height: 670px;
    position: absolute;
    left: 0;
    top: 0;
}
.bannerbox1 ul li.fst-li{
    background: url("../images/b1.jpg") center no-repeat;
    background-size: cover;
}
.bannerbox1 ul li .img1{
    position: absolute;
}
/*banner-01*/



.bannerbox2{
    height: 670px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.containt-div{
    width: 1024px;
    position: relative;
    height: 670px;
}
.bannerbox2 ul{
    position: relative;
}
.bannerbox2 ul li{
    list-style: none;
    width: 100%;
    height: 670px;
    position: absolute;
    left: 0;
    top: 0;
}
.bannerbox2 ul li.sec-li{
    background: url("../images/b2.jpg") center no-repeat;
    background-size: cover;
}
.bannerbox2 ul li .img1{
    position: absolute;
}



.bannerbox3{
    height: 670px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.containt-div{
    width: 1024px;
    position: relative;
    height: 670px;
}
.bannerbox3 ul{
    position: relative;
}
.bannerbox3 ul li{
    list-style: none;
    width: 100%;
    height: 670px;
    position: absolute;
    left: 0;
    top: 0;
}
.bannerbox3 ul li.third-li{
    background: url("../images/b3.jpg") center no-repeat;
    background-size: cover;
}
.bannerbox3 ul li .img1{
    position: absolute;
}



.baner-01-a{
    width: 327px;
    height: 165px;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -163px;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
.baner-01-b{
    width: 752px;
    height: 65px;
    top: 350px;
    left: 50%;
    position: absolute;
    margin-left: -376px;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
/*banner2*/
.banner2-02{
    width:593px;
    height: 93px;
    position: absolute;
    top: 243px;
    left: 0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
.banner2-01{
    top: 217px;
    position: absolute;
    left: -100px;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
.banner2-03{
    top: 352px;
    left: 0;
    position: absolute;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
/*banner3*/
.banner3-01{
    position: absolute;
    top: 138px;
    width: 720px;
    height: 73px;
    left: 50%;
    /*margin-left: -310px;*/
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
.banner3-02{
    position: absolute;
    top: 227px;
    left: 50%;
    /*margin-left: -305px;*/
    width: 610px;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}
.banner3-03{
    position: absolute;
    top: 300px;
    width:214px;
    left: 50%;
    /*margin-left: -107px;*/
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
}

.bannerbox4{
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
     background: url("../images/bg1.jpg") center no-repeat;
}
.bannerbox4 .look{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 1;
}

.bannerbox4 .f1{
    width: 500px;
    height: 100px;
    top: 20%;
    left:5%;
    position: absolute;
    opacity: 0;
}
.bannerbox4 .f2{
    width: 500px;
    height: 125px;
    top: 0%;
    left:20%;
    position: absolute;
    opacity: 0;
}
.bannerbox4 .f3{
    width: 200px;
    height: 60px;
    right: 0%;
    top: 23%;
    position: absolute;
    opacity: 0;
}
.bannerbox1 .look{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
}
.bannerbox2 .look{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    position: absolute;
}
.end{
    position: relative;
    width: 100%;
    height: 200px;
    color: white;
    background: rgba(0,0,0,0.5);
}
.end .left{
    width: 35%;
}
.end .left .bgline{
        border: 1px white solid;
        width: 25%;
        height: 180px;
        margin:10px;
        left: 12%;
        position: absolute;
         background:rgba(0,0,0,0.5);
}
.end .left .bgline2{
        border: 1px white solid;
        width: 50%;
        height: 180px;
        margin:10px;
        left: 45%;
        position: absolute;
        background:rgba(0,0,0,0.5);
}
.end .left .font1 h1{
    margin-bottom: 8%;
    margin-top: 5%;
    margin-left: 40%;
    font-size: 18px;
    font-family: 微软雅黑;
}
.end .left .font1 h1 img{
    margin-left: 18%;
    width:45px;
    height: 45px;
}
.end .left .font1 p{
    font-family: 微软雅黑;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
}
.end .left .font1{
    position: relative;
}
.end .right{
    width: 60%;
    height: 100%;
    overflow: hidden;
    color: white;
    float: right;
}
.end .right .font2{
    position: relative;
}
.end .right .font2 h1{
    margin-bottom:3%;
    margin-top: 3%;
    margin-left: 40%;
    font-size: 20px;
    font-family: 微软雅黑;
}
.end .right .font2 p{
    font-family: 微软雅黑;
    font-size: 13px;
    line-height: 17px;
    margin-left: 15%;
    width: 70%;
}
.footer{
    width: 100%;
    height: 30px;
    background-color:white;
    line-height: 30px;
    color: black;
    text-align: center;
    color: black;

}
.footer h2{
    font-family:微软雅黑;
    font-size: 12px;
 
}
#ABall{
	height:auto;
	width:100%;
}
#ABall .center{
	width:100%;
	height:auto;
}
#ABall .Ab1{
	position:relative;
    background:url(../images/bb.jpg);
}
#ABall .Ab1 .all{
	position:absolute;
    left: 2.5%;
	bottom:7%;
	width:95%;
	height:80%;
	background-color: white;
    overflow: hidden;
}
#ABall .Ab1 .left{
    margin-left: -800px;
    height: 100%;
    width: 50%;
    opacity: 0;
}
#ABall .Ab1 .right{
    height: 100%;
    width: 50%;
    margin-top: -700px;
    opacity: 0;
}
#ABall .Ab1 .left h1{
    overflow: hidden;
    margin:30px 30px 30px 100px;
    font-family:impact;
    font-size: 20px;
    color: black;
    height: 40px;
    line-height: 40px;
    width: 200px;
    text-align: center;
}
#ABall .Ab1 .right h1{
    overflow: hidden;
    margin:30px 30px 30px 30px;
    font-family:impact;
    font-size: 20px;
    background-color: black;
    color: white;
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
}
#ABall .Ab1 .left .around{
    height: 70%;
    width:100%;
}
#ABall .Ab1 .left h2{
    margin-top: 1%;
    margin-left:100px;
    font-family: 微软雅黑;
    font-size: 13px;
    line-height: 25px;
    color: black;
}
#ABall .Ab1 .left .around p{
    width: 80%;
    margin-top: 2%;
    margin-left:100px;
    font-family: 微软雅黑;
    font-size: 12px;
    line-height: 20px;
}
#ABall .Ab1 .left .around img{
    margin-left: 100px;
    width: 60%;
    height: 60%;
}
#ABall .Ab1 .right .around{
    height: 70%;
    width:100%;
}
#ABall .Ab1 .right ul{
    width: 80%;
    height: 100%;
}
#ABall .Ab1 .right li{
    float: left;
    height: 25%;
    width: 25%;
    text-align: center;
    overflow: hidden;
}
#ABall .Ab1 .right li img{
    height: 60%;
    width: 60%;
}
#ABall .Ab1 .right li img:hover{
    height: 70%;
    width: 70%;
}#ABall .Ab1 .right .join{
    height: 30px;
    line-height: 30px;
    width: 15%;
    background-color: black;
    color: white;
    text-align: center;
    float: right;
}
#ABall .Ab2{
    background:url(../images/bb.jpg);
    position:relative;
}
#ABall .Ab2 .all{
    left: 2.5%;
    position:absolute;
    bottom:7%;
    width:95%;
    height:80%;
    background-color: white;
    overflow: hidden;
}
#ABall .Ab2 .left{
    margin-left: -800px;
    height: 100%;
    width: 50%;
    opacity: 0;
}
#ABall .Ab2 .right{
    height: 100%;
    width: 50%;
    margin-top: -700px;
    opacity: 0;
}
#ABall .Ab2 .around{
    height: 100%;
    width: 90%;
}
#ABall .Ab2 .right h1{
    margin:10px 0 15px 0;
    font-size: 20px;
    font-family: impact;
}
#ABall .Ab2 .right h1 img{
    margin-left: 10px;
    height: 25px;
    width:25px;
    line-height: 50px;
    margin-bottom: 5px;
}
#ABall .Ab2 .right p{
    font-family: 微软雅黑;
    font-size: 13px;
}
#ABall .Ab2 .right h2{
    margin: 20px 0 20px 0;
    font-family: 微软雅黑;
    font-size: 15px;
    font-weight: bold;
}
#ABall .Ab3{
    background:url(../images/bb.jpg);
    position:relative;
}
#ABall .Ab3 .all{
    left: 2.5%;
    position:absolute;
    bottom:7%;
    width:95%;
    height:80%;
    background-color: white;
    overflow: hidden;
}
#ABall .Ab3 .left{
    position: relative;
    margin-left: -800px;
    height: 100%;
    width: 50%;
    background-color: black;
    opacity: 0;
}
#ABall .Ab3 .left h1{
    top: 30%;
    font-size: 20px;
    left: 28%;
    position: absolute;
    color: white;
    font-family: 微软雅黑;
}
#ABall .Ab3 .left p.a1{
    top: 45%;
    left: 28%;
    position: absolute;
    color: white;
    font-family: 微软雅黑;
}
#ABall .Ab3 .left p.a2{
    top: 55%;
    left: 28%;
    position: absolute;
    color: white;
    font-family: 微软雅黑;
}
#ABall .Ab3 .left p.a3{
    top: 65%;
    left: 28%;
    position: absolute;
    color: white;
    font-family: 微软雅黑;
}
#ABall .Ab3 .right{
    height: 100%;
    width: 50%;
    margin-top: -700px;
    opacity: 0;
}
#ABall .Ab3 .around{
    height: 100%;
    width: 90%;
}

.e1{
    width: 100%;
    height: 150px;
    background-color: white;
    text-align: left;
}
.e1 .no1{
    width: 33.33333%;
    height: 100%;
    float: left;
}
.e1 .no2{
    width: 33.33333%;
    height: 100%;
    float: left;
}
.e1 .no3{
    width: 33.33333%;
    height: 100%;
    float: left;
}
.e1 h1{
    margin: 3%;
    font-family: 微软雅黑;
    font-size: 15px;
}
