body{
height:auto;
}

.wrapper {
  
}

.bg-white {
  position: fixed;
  z-index:998;
  width: 100%;
  height: 50px;
  background-color:white;
  opacity: 0.1;
}

.header {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 998;
}
.header .container {
  width: 1240px;
  margin: 0 auto;
}

.header .logo {
  float: left;
  padding-top: 30px;
}
.header .logo a {
  width: 115px;
  height: 20px;
  background: url(../images/logo_blue.png) no-repeat;
}

.nav {
  float: left;
  margin-left: 25%;
}
.nav-item {
  float: left;
  position: relative;
}
.nav-item a {
  padding: 20px 20px 0;
  height: 30px;
  line-height: 42px;
}
.nav-item a:hover {
  color: rgb(49, 165, 231);
}

.sub-nav {
  position: fixed;
  left: 0;
  top: 50px;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.sub-nav__wrap {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.sub-nav__wrap[data-link="nav_iphone"] {
  padding-left: 390px;
}
.sub-nav__wrap[data-link="nav_subIphone"] {
  padding-left: 306px;
}
.sub-nav__wrap[data-link="nav_voice"] {
  padding-left: 578px;
}
.sub-nav__wrap[data-link="nav_parts"] {
  padding-left: 445px;
}
.sub-nav a {
  float: left;
  width: 140px;
  padding-top: 14px;
  text-align: center;
  color: #666;
}
.sub-nav a:hover {
  color: #111;
}
.sub-nav a img {
  display: inline-block;
  height: 80px;
}
.sub-nav a span {
  display: block;
  padding-top: 18px;
  font-size: 12px;
}

.user {
  float: right;
  position: relative;
  width: 60px;
  height: 62px;
}
.user:hover .user-hover,
.user:hover .user-info {
  display: block;
}
.user-img {
  position: absolute;
  z-index: 3;
  width: 60px;
  padding-top: 14px;
  padding-left: 13px;
}
.user-img .arrow-bg,
.user-img .arrow-font {
  position: absolute;
  top: 20px;
  left: 40px;
}
.user-img .arrow-bg {
  border-width: 6px;
  border-color: #999 transparent transparent transparent;
  border-style: solid dashed dashed;
}
.user-img .arrow-font {
  left: 41px;
  border-width: 5px;
  border-color: #fff transparent transparent transparent;
  border-style: solid dashed dashed;
}
.user .user-hover {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 60px;
  height: 50px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #1395e4;
  background-color: #fff;
}
.user-info {
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 50px;
  height: 210px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 12px;
}
.user-info ul {
  padding: 0 20px;
}
.user-info li {
  width: 112px;
  margin-top: 20px;
}
.user-info a {
  color: #515151;
}
.user-info a:hover {
  color: rgb(49, 165, 231);
}
.user-info li.login {}
.user-info li.login a {
  width: 112px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #515151;
}
.user-info li.login a:hover {
  color: rgb(49, 165, 231);
}
.user-info li.register {
  color: #999;
}
.user-info li.register a {
  display: inline;
  color: #21A9E7;
}
.user-info li.register a:hover {
  text-decoration: underline;
}



/* ======== 幻灯片样式 ======== */
.slider-box {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  overflow: hidden;
}

.slider {
  position: absolute;
  left: 0;
  top: 0;
}
.slider-item {
  float: left;
  cursor: default;
}

.slider-box .btn-box {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-size: 0;
}
.slider-box .btn-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 12px;
  border-radius: 50%;
  background-color: #666;
}
.slider-box .btn-item__cur {
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
  border: 1px solid #666;
  background-color: transparent;
}


.btn, .slider-title, .btn-box {
  z-index: 999;
}




/* ======== 主题样式 ======== */
.theme-white .header .logo a {
  background: url(../images/logo_white.png) no-repeat;
}
.theme-white .nav-item a {
  color: white;
}
.theme-white .nav-item a:hover {
  color: rgb(49, 165, 231);
}
.theme-white .slider-box .btn-item {
  background-color: #fff;
}
.theme-white .slider-box .btn-item__cur {
  background-color: transparent;
  border-color: #fff;
}

.theme-nav .header .logo a {
  background: url(../images/logo_blue.png) no-repeat !important;
}
.theme-nav .nav-item a {
  color: #333;
}
.theme-nav .nav-item a:hover {
  color: rgb(49, 165, 231);
}